:root {
  /* Color */
  --main-color: #ea3921;
  --white-color: #ffffff;
  --black-color: #000000;
  --input-color: #cfcfcf;
  --input-placeholder-color: #bdbdbd;
  --login-icon-color: #bdbdbd;
  --auto-login-text-color: #797a79;
  --login-option-text-color: #838583;
  --login-option-separator-color: #d4d4d4;
  --social-login-text-color: #222222;
  --login-link-separator-color: #d4d4d4;

  /* Size */
  --close-icon-size: 17px;
  --eye-icon-size: 24px;
  --social-login-icon-size: 50px;
  /* --login-input-size:  */

  /* font Size */
}

/* ============== Fonts ============== */
/* logo */
@font-face {
  font-family: "DahilaBold";
  /* src: url('../frontend/fonts/dahlia-bold.woff'); */
  src: url("../assets/fonts/dahlia-bold.woff");
}

/* main */
@font-face {
  font-family: "PretendardMedium";
  src: url("../assets/fonts/Pretendard-Medium.woff");
}

/* social login button */
@font-face {
  font-family: "PretendardRegular";
  src: url("../assets/fonts/Pretendard-Regular.woff");
}

/* 기타 */
button {
  cursor: pointer;
}

/* 브라우저 기본 제공 비밀번호 표시/숨김 아이콘 제거 */
/* input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
} */

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
